<div id="PreviousPage" style="display: block; margin-bottom: -5px; overflow: hidden; background: #f5f5f5; border-top: 4px solid #00afaa; height: 30px; padding-top: 6px; padding-left: 15px;">
<p style="display: inline;"><a component="pagetitle1" style="text-decoration: none; color: #000000; font-size: 14px; font-family: sans-serif; margin-left: 0px; display: inline-block;" title="abcd" href="efgh" ><img style="margin-bottom: 3px; margin-right: 10px; max-width: 1001px;" src="https://canvas.sussex.ac.uk/courses/1221/files/175300/preview" alt="back_small.png" width="14" height="14"  />ijkl  </a></p>
<ul style="float: right; list-style: none; margin: 0px; font-family: sans-serif; padding: 0px;">
<li style="float: left; margin: 1px 15px;"><a component="pagetitle2" style="padding: 2px 4px; text-decoration: none; font-size: 14px; color: #00afaa; border-bottom: 3px solid #00afaa; display: inline-block; height: 21px;" >jhksdhf</a></li>
<li style="float: left; margin: 1px 15px;"><a component="pagetitle3" style="padding: 2px 4px; text-decoration: none; font-size: 14px; color: #000; display: inline-block; height: 21px; text-align: center;" href="" >lksdfjl</a></li>
</ul>
</div>
<div id="Assignment_1" style="display: inline-block; width: 100%;">
<h2 component="heading" style="color: #043b4a; font-family: BaskerVille; margin: 6px 0 3px 0; line-height: 26px; font-size: 27px; margin-bottom: 0px;"></h2>
<div style="width: 100%; margin: auto; margin-top: 10px;">
<div style="width: 386px; height: 240px; margin-bottom: 10px; float: left;"><iframe component="video" style="width: 386px; height: 240px;" src="" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen"></iframe></div>
<div style="font-size: 14px; color: #000000; background-color: #f4f4f4; padding: 10px; border-top: 7px solid #007a78; margin-left: 396px; min-height: 207px; padding-top: 16px; padding-left: 20px;">
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="description1" style="font-family: arial; font-size: 14px; color: #000;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="description2" style="font-family: arial; font-size: 14px; color: #000;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="description3" style="font-family: arial; font-size: 14px; color: #000;"></span></p>
<div style="display: inline-block; margin-top: 20px; padding-bottom: 0px;"><span component="videosize" style="color: #777c7f; font-size: 16px; font-family: arial; display: inline-block; position: relative;"></span></div>
</div>
</div>
</div>
