<div style="background-color: #05b1ac; height: 4px; clear: both;"></div>
<div id="PreviousPage">
<p style="margin-top: 0px; padding-left: 0px; background-color: #94a5961a; color: #fff; padding-top: 6px; height: 30px;"><a component="pagetitle1" style="text-decoration: none; color: #000000; font-size: 14px;" title="" href=""> <img style="margin-bottom: 3px;" src="https://canvas.sussex.ac.uk/courses/1221/files/175300/preview" alt="back_small.png" width="14" height="14"  /></a></p>
</div>
<h2 id="Heading_1" style="color: #043b4a; font-family: georgia; margin-bottom: 0px;"><span component="introtext"></span></h2>
<div id="Teamwork_1" style="width: 100%; position: relative; overflow: hidden;">
<div style="width: 300px; height: 200px; margin-right: 10px; z-index: 999; margin-bottom: 10px; float: left; display: inline-block; font-family: arial; position: relative;"><iframe component="video" style="width: 396px; height: 250px;" src="" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen"></iframe></div>
<div style="font-size: 14px; color: #000000; background-color: #f4f4f4; padding: 10px; padding-top: 16px; padding-left: 20px; border-top: 7px solid #e2592e; margin-left: 310px; min-height: 160px; min-width: 245px;">
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext1" style="font-size: 14px; color: #000; display: i;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext2" style="font-size: 14px; color: #000;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext3" style="font-size: 14px; color: #000;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext4"style="font-weight: 400;"></span> </p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext5" style="font-size: 14px; color: #000;"> </span></p>
</div>
</div>
<div id="Teamwork_2" style="display: block;">
<h2 component="heading" style="color: #043b4a; margin: 20px 0 0px 0; line-height: 26px; font-size: 27px; font-family: georgia;"></h2>
<div style="width: 100%; position: relative; margin-top: 12px; overflow: hidden;">
<div style="width: 300px; height: 194px; margin-right: 10px; z-index: 999; margin-bottom: 10px; float: left; display: inline-block; font-family: arial; position: relative;"><img component="image" style="width: 300px; min-height: 194px; max-height: 184px; max-width: 643px;" src="" alt="" width="300" height="253"  /></div>
<div style="font-size: 14px; color: #000000; background-color: #f4f4f4; padding: 10px; padding-top: 16px; padding-left: 20px; border-top: 7px solid #e2592e; margin-left: 310px; min-height: 160px; min-width: 245px;">
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext1" style="font-size: 14px; color: #000; display: i;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext2" style="font-size: 14px; color: #000;"></span></p>
<p style="margin: 0; padding: 0px 10px 0px 0px;"><span component="descriptiontext3" style="font-size: 14px; color: #000;"></span></p>
</div>
</div>
</div>